<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

         <!---Bootstrap-->
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
         
         <!--Socket.io-->
         <script src="https://cdn.socket.io/4.7.2/socket.io.min.js" integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz" crossorigin="anonymous"></script>
        
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body class="p-4">

  
  <% if(user.role == 'admin' ){ %><%buttonDel = 'btn btn-danger'%><% } else{ %>  <h1><%buttonDel = 'btn btn-danger btn disabled'%></h1><% } %>

    <!---Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">BA Airport : Aerodrome Operations portal (Trial version 0.1)</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Input
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/grf">GRF</a></li>
                  <li><a class="dropdown-item" href="/notam">NOTAM</a></li>
                  <li><a class="dropdown-item disabled" >AD Announcement (Non-NOTAM)</a></li>
                  <li><a class="dropdown-item" href="/notam">Adverse weather/Low-vis</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Internal forms
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/grf">Maintenace request form</a></li>
                  <li><a class="dropdown-item disabled" href="/notam">ADP request form</a></li>
                  <li><a class="dropdown-item disabled" href="/notam">Wildlife record form</a></li>
                  <li><a class="dropdown-item disabled" href="/notam">Safety report</a></li>
                  <li><a class="dropdown-item disabled" href="/notam">GA/State Slot</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  External forms
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item disabled" href="/grf">Drone flying request</a></li>
                </ul>
              </li>
            </ul>
            <span class="navbar-text">Username : <%= user.username%>  | role: <%= user.role %></span>
            <div class="d-flex flex-row-reverse bd-highlight">
              <div class="p-2"><a href="/logout" class="btn btn-light">Log out</a></div>
              <div class="p-2"><input input type="date"  id="datePicker"  class="form-control" type="date" style="width: 100%"  required ></div>
            </div>
          </div>
        </div>
      </nav>


        

    <!---Table Flight-->
    <div class="container-fluid">
    <div class="row">
      <p class="h5 pt-3">Flight</p>
            <table class="table"  id="myTable4">
                <tr class="table-light">
                <thead>
                    <th scope="col" style="width: 10%">Flight Date</th>
                    <th scope="col" style="width: 10%">Flight</th>
                    <th scope="col" style="width: 10%">Direction</th>
                    <th scope="col" style="width: 10%">Stop</th>
                    <th scope="col" style="width: 10%">STA/STD</th>
                    <th scope="col" style="width: 10%">ETA/ETD(TOBT)</th>
                    <th scope="col" style="width: 10%">ATA/ATD</th>
                    <th scope="col" >Remark</th>
                    <th scope="col" >Action</th>
                </thead>
                </tr>
                <tbody id="tableFlight">
                    <tr>
                    <% data4.forEach(item => { %>
                    <td><%= item.flightdate %></td>
                    <td><%= item.flight %></td>
                    <td><%= item.dir %></td>
                    <td><%= item.stop %></td>
                    <td><%= item.st %></td>
                    <td><%= item.et %></td>
                    <td><%= item.at %></td>
                    <td><%= item.rm %></td>
                    <td><a href="/edit_flight/<%=item._id%>" class="btn btn-primary" aria-disabled="true">Edit</a>
                      <a href="/deleteFlight/<%=item._id%>" onclick="return confirm('Confirm delete?')" class="<%=buttonDel%>">Delete</a>
                    </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>  
    </div>
    <a href="/flight" class="btn btn-primary">Submit Flight</a>
    <hr>

    <!---Table GRF-->
    <div class="row">
        <div class="col-5">
          <p class="h5 pt-3">GRF</p>
            <table class="table"  id="myTable2">
                <tr class="table-light">
                <thead>
                    <th scope="col">GRF Date</th>
                    <th scope="col">RCR</th>
                    <th scope="col">Submit Time</th>
                </tr>
                </thead>
                <tbody id="tableGRF">
                  <tr>
                    <% data2.forEach(item => { %>
                    <td><%= item.gdate %></td>
                    <td><%= item.utc %> <%= item.rcr %></td>
                    <td class="table w-auto small"><%= (item.createdAt).getHours(); %>:<%= ((item.createdAt).getMinutes() < 10 ? '0' : '')+(item.createdAt).getMinutes(); %>LT - <%= (item.createdAt).toDateString(); %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
            <a href="/grf" class="btn btn-primary">Submit GRF</a>
        </div>

        <!---Table Board-->
        <div class="col">
          <div class="card" style="min-height: 12rem;">
            <div class="card-body">
              This is some text within a card body.
            </div>
          </div>

    </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <p class="h5 pt-3">NOTAM</p>
        <table class="table"  id="myTable3">
            <tr class="table-light">
            <thead>
                <th scope="col" style="width: 10%">NOTAM No.</th>
                <th scope="col">NOTAM Text</th>
                <th scope="col" style="width: 20%">Effective</th>
                <th scope="col" style="width: 20%">Expire</th>
                <th scope="col" style="width: 10%">Updated at</th>
            </thead>
            </tr>
            <!---Table NOTAM-->
            <tbody id="tableNotam">
                <tr>
                <% data3.forEach(item => { %>
                <td><%= item.notamno %></td>
                <td><%= item.notam %></td>
                <td><%= (item.eff).getHours(); %>:<%= ((item.eff).getMinutes() < 10 ? '0' : '')+(item.eff).getMinutes(); %>LT - <%= (item.eff).toDateString();%></td>
                <td><%= (item.end).getHours(); %>:<%= ((item.end).getMinutes() < 10 ? '0' : '')+(item.end).getMinutes(); %>LT- <%= (item.end).toDateString();%></td>
                <td class="table w-auto small"><%= (item.createdAt).toDateString(); %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <a href="/notam" class="btn btn-primary">Submit NOTAM</a>
        
        

      </div>
    </div>
    </div>
    


    <script>

      const datePicker = document.getElementById('datePicker');
      

      // Set the date picker to the current date
      const today = new Date().toISOString().split('T')[0];
      datePicker.value = today;

      function filterRows(selectedDate,rowdate,filtable) {

        const tableBody = document.getElementById(filtable);
        const rows = tableBody.getElementsByTagName('tr');
        

          
          // Show all rows if no date is selected
          if (!selectedDate) {
              Array.from(rows).forEach(row => row.style.display = '');
              return;
          }

          // Filter rows based on the selected date
          Array.from(rows).forEach(row => {
              const dateCell = row.cells[rowdate].innerText;
              if (dateCell === selectedDate) {
                  row.style.display = ''; // Show row
              } else {
                  row.style.display = 'none'; // Hide row
              }
          });

      }

      // Initial filter when the page loads
      filterRows(today,0,'tableFlight');
      filterRows(today,0,'tableGRF');
    

      // Add change event listener to the date picker
      datePicker.addEventListener('change', () => {
          filterRows(datePicker.value,0,'tableFlight');
          filterRows(datePicker.value,0,'tableGRF');
      });

      //Reload page when press "back"
      window.addEventListener( "pageshow", function ( event ) {
        var historyTraversal = event.persisted || 
        ( typeof window.performance != "undefined" && 
            window.performance.navigation.type === 2 );
        if ( historyTraversal ) {
        // Handle page restore.
          window.location.reload();
        }
      });
  </script>



    
</body>
</html>