<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

         <!---Bootstrap-->
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
         
         <!--Socket.io-->
         <script src="https://cdn.socket.io/4.7.2/socket.io.min.js" integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz" crossorigin="anonymous"></script>
        
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body class="p-4">

    <!---<p><%= data2[0].rcr %></p>-->

    <div class="container-fluid">
    <div class="row">

    </div>
    <div class="row">
        <div class="col">
            <table class="table"  id="myTable2">
                <tr class="table-light">
                <thead>
                    <th scope="col">RCR</th>
                    <th scope="col">Submit Time</th>
                </thead>
                <tbody >
                    <% data2.forEach(item => { %>
                    <td><%= item.utc %> <%= item.rcr %></td>
                    <td><%= (item.createdAt).getHours(); %>:<%= (item.createdAt).getMinutes(); %>LT - <%= (item.createdAt).toDateString(); %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
            <a href="/grf" class="btn btn-primary">Submit GRF</a>
        </div>
        <div class="col">
            <table class="table"  id="myTable3">
                <tr class="table-light">
                <thead>
                    <th scope="col">NOTAM No.</th>
                    <th scope="col">NOTAM Text</th>
                    <th scope="col">Effective</th>
                    <th scope="col">Expire</th>
                    <th scope="col">Updated at</th>
                </thead>
                <tbody >
                    <% data3.forEach(item => { %>
                    <td><%= item.notamno %></td>
                    <td><%= item.notam %></td>
                    <td><%= (item.eff).getHours(); %>:<%= (item.eff).getMinutes(); %>z - <%= (item.eff).toDateString();%></td>
                    <td><%= (item.end).getHours(); %>:<%= (item.end).getMinutes(); %>z - <%= (item.end).toDateString();%></td>
                    <td><%= (item.createdAt).getHours(); %>:<%= (item.createdAt).getMinutes(); %>LT - <%= (item.createdAt).toDateString(); %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
            <a href="/notam" class="btn btn-primary">Submit NOTAM</a>
    </div>
    </div>
      </div>

    
</body>
</html>