<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

         <!---Bootstrap-->
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
         
         <!--Socket.io-->
         <script src="https://cdn.socket.io/4.7.2/socket.io.min.js" integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz" crossorigin="anonymous"></script>
        
     
</head>
<body class="p-5">


    <form method="post" action="/update">
        <div class="mb-3" >
            <label for="label1" class="form-label"></label>
            <input id="update_id" type="hidden" name="update_id"  value=<%= dataEdit[0]._id %> readonly class="form-control-plaintext" >
          </div>
        <div class="mb-3">
          <label for="label2" class="form-label">Flight</label>
          <input type="text" id="FlightNumber" name="FlightNumber"  value=<%= dataEdit[0].FlightNumber %> readonly class="form-control-plaintext" >
        </div>
        <hr>
        <div class="mb-3">
          <label for="label2" class="form-label">Destination</label>
          <input type="text" id="Dest" name="Dest"  value=<%= dataEdit[0].Dest %> readonly class="form-control-plaintext" >
        </div>
        <hr>
        <div class="mb-3">
          <label for="label2" class="form-label">SOBT : Standard off-block time (Schedule time)</label>
          <input type="text" id="SOBT" name="SOBT"  value=<%= dataEdit[0].SOBT %> readonly class="form-control-plaintext" >
        </div>
        <hr>
        <div class="mb-3">
          <label for="label3" class="form-label">EOBT : Estimate off-block time</label>
          <input type="text" id="EOBT" name="EOBT" class="form-control"  pattern="[0-9]{4}" value=<%= dataEdit[0].EOBT %> >
        </div>
        <hr>
        <div class="mb-3">
          <label for="label3" class="form-label">ESBT : Estimate start boarding time </label>
          <input type="text" id="ESBT" name="ESBT" class="form-control"  pattern="[0-9]{4}" value=<%= dataEdit[0].ESBT %> >
        </div>
        <hr>
        <div class="mb-3">
          <label for="label3" class="form-label">ASBT : Actual start boarding time</label>
          <input type="text" id="ASBT" name="ASBT" class="form-control"  pattern="[0-9]{4}" value=<%= dataEdit[0].ASBT %> >
        </div>
        <hr>
        <div class="mb-3">
          <label for="label3" class="form-label">TOBT : Target off-block time</label>
          <input type="text" id="TOBT" name="TOBT" class="form-control" pattern="[0-9]{4}" value=<%= dataEdit[0].TOBT %>  >
        </div>
        <hr>
        <div class="mb-3">
          <label for="label2" class="form-label">TSAT : Target start-up approval time</label>
          <input type="text" id="TSAT" name="TSAT"readonly class="form-control-plaintext" value=<%= dataEdit[0].TSAT %> >
        </div>
        <hr>
        <div class="mb-3">
          <label for="label2" class="form-label">CTOT : Calculated take-off time</label>
          <input type="text" id="CTOT" name="CTOT"readonly class="form-control-plaintext" value=<%= dataEdit[0].CTOT %> >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


</body>
</html>