<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samui airport A-CDM portal</title>

     <!---Bootstrap-->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
     
     <!--Socket.io-->
     <script src="https://cdn.socket.io/4.7.2/socket.io.min.js" integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz" crossorigin="anonymous"></script>
    
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

     
 
</head>


<body class="p-5">

    
    <% var text1 = "alert-primary" %>

    <!--ShowCurrentTime-->
    <p id="currentTime"></p>


  


    <div id="allDisplayText">
        <div id="displayText" class="alert <%= text1%> role="alert">
            Data is upto date. 
        </div>
    </div>

    <hr>
    <h2>VTSM A-CDM</h2>
    <h6>Samui airport A-CDM portal. Trial version.</h6>
    <p>All time in localtime (UTC+7)</p>  
    <a class="btn btn-primary" href="/inputnew" role="button">input Database</a>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <label for="nameFilter"></label>
          <input class="form-control" type="text" id="nameFilter" placeholder="Search">
        </div>
        <div class="col-sm">

        </div>
        <div class="col-sm" id="date_">
          <label for="dateFilter"></label>
          <input class="form-control" type="date" id="dateFilter">
        </div>
      </div>
    </div>
    <br>

    <table class="table" id="myTable">
        <thead>
          <tr class="table-info">
            <th scope="col">Airlines</th>
            <th scope="col">Flight</th>
            <th scope="col">Destination</th>
            <th scope="col" class="border-start" title="Standard off-block time (Schedule time)">SOBT</th>
            <th scope="col" title="Estimate off-block time">EOBT</th>
            <th class="border-start"scope="col" title="Estimate start boarding time">ESBT</th>
            <th scope="col" title="Actual start boarding time">ASBT</th>
            <th class="border-start" scope="col" title="Target off-block time">TOBT</th>
            <th scope="col" title="Target start-up approval time">TSAT</th>
            <th scope="col" title="Calculated take-off time">CTOT</th>
            <th class="border-start"scope="col">Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody >
          <% data.forEach(item => { %>
          <tr>
            <th scope="row"><%= item.Airlines %></th>
            <td><%= item.FlightNumber %></td>
            <td><%= item.Dest %></td>
            <td class="border-start" ><%= item.SOBT %></td>
            <td><%= item.EOBT %></td>
            <td class="border-start"><%= item.ESBT %></td>
            <td><%= item.ASBT %></td>
            <td class="border-start"><%= item.TOBT %></td>
            <td><%= item.TSAT %></td>
            <td class="border-end"><%= item.CTOT %></td>
            <td class="border-start"><%= item.date_ %></td>
            <td><a href="/edit/<%=item._id%>" class="btn btn-primary">Airlines</a>  <a href="/edit_atc/<%=item._id%>" class="btn btn-warning">ATC</a>  <a href="/delete/<%=item._id%>" onclick="return confirm('Confirm delete?')" class="btn btn-danger">Delete</a></td>
          
          </tr>
          <% }); %>
        </tbody>
      </table>


  

    <script src="/socket.io/socket.io.js"></script>

    <script>

        //<% var data2 = data.filter(value =>{ return value.STD == "1530"}) %>

        html2 = 
            `
        
            <div class="col-sm" id="date_">
              <label for="dateFilter"></label>
              <input class="form-control" value="2024-01-02" type="date" id="dateFilter">
            </div>
            
            `
        document.getElementById("date_").innerHTML = html2 


        var socket = io()
        var html = ''
        var updatedText = 'Test'
        var box = document.querySelector('#allDisplayText')


        socket.on('acdmData', (newText) => {

            const displayText = document.getElementById('allDisplayText')

            html = 
            `
        
            <div id="displayText" class="alert alert-warning" role="alert">
                Data updated! Please refresh. 
            </div>
            
            `

            box.innerHTML = html

            location.reload();

            
            


        })

        
        //Load filter when start
        var nameFilterInput = document.getElementById('nameFilter');
        var dateFilterInput = document.getElementById('dateFilter');
        var rows = document.querySelectorAll('#myTable tbody tr');

        
        var currentDate = new Date();
        var formattedDate = currentDate.getFullYear() + '-' + ('0' + (currentDate.getMonth() + 1)).slice(-2) + '-' + ('0' + currentDate.getDate()).slice(-2);
        dateFilterInput.value = formattedDate;
        
  

        
        function applyFilters() {
          var nameFilterValue = nameFilterInput.value.toLowerCase();
          var dateFilterValue = dateFilterInput.value;

          rows.forEach(function(row) {
            var nameMatch = false;
            for (var i = 0; i < 80; i++) {
              var nameCell = row.cells[i].textContent.toLowerCase();
              if (nameCell.indexOf(nameFilterValue) > -1) {
                nameMatch = true;
                break;
              }
            }

            var dateCell = row.cells[10].textContent;
            var dateMatch = dateCell === dateFilterValue || dateFilterValue === '';

            row.style.display = nameMatch && dateMatch ? '' : 'none';
          });
        }





        nameFilterInput.addEventListener('input', applyFilters);
        dateFilterInput.addEventListener('input', applyFilters);
        //

  
      applyFilters()
      




      //Reload page when press "back"
      window.addEventListener( "pageshow", function ( event ) {
        var historyTraversal = event.persisted || 
        ( typeof window.performance != "undefined" && 
                              window.performance.navigation.type === 2 );
      if ( historyTraversal ) {
      // Handle page restore.
      window.location.reload();
       }
      });







    </script>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var nameFilterInput = document.getElementById('nameFilter');
        var dateFilterInput = document.getElementById('dateFilter');
        var rows = document.querySelectorAll('#myTable tbody tr');

        // Set the default value of the datepicker to the current date
        //var today = new Date().toISOString().split('T')[0];
        //dateFilterInput.value = today;

        function applyFilters() {
          var nameFilterValue = nameFilterInput.value.toLowerCase();
          var dateFilterValue = dateFilterInput.value;

          rows.forEach(function(row) {
            var nameMatch = false;
            for (var i = 0; i < 10; i++) {
              var nameCell = row.cells[i].textContent.toLowerCase();
              if (nameCell.indexOf(nameFilterValue) > -1) {
                nameMatch = true;
                break;
              }
            }

            var dateCell = row.cells[10].textContent;
            var dateMatch = dateCell === dateFilterValue || dateFilterValue === '';

            row.style.display = nameMatch && dateMatch ? '' : 'none';
          });
        }


      

        nameFilterInput.addEventListener('input', applyFilters);
        dateFilterInput.addEventListener('input', applyFilters);
      });
    </script>

    
    <script>
      /*
      // Function to update current time
      function updateCurrentTime() {
          var currentTime = new Date();
          var hours = ('0' + currentTime.getHours()).slice(-2);
          var minutes = ('0' + currentTime.getMinutes()).slice(-2);
          var seconds = ('0' + currentTime.getSeconds()).slice(-2);
          var formattedTime = hours + ':' + minutes + ':' + seconds;
          document.getElementById('currentTime').textContent = formattedTime;
      }

      // Update time initially and every second
      updateCurrentTime();
      setInterval(updateCurrentTime, 1000);*/
    </script>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var rows = document.querySelectorAll('#myTable tbody tr');

        function sortTableByColumn(columnIndex) {
            var switching = true;
            while (switching) {
                switching = false;
                for (var i = 1; i < (rows.length - 1); i++) {
                    var x = rows[i].getElementsByTagName("td")[columnIndex];
                    var y = rows[i + 1].getElementsByTagName("td")[columnIndex];
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                        break;
                    }
                }
            }
        }

        document.getElementById("sortButton").addEventListener("click", function() {
            // Sort table by date (column index 3)
            sortTableByColumn(3);
        });
    });
</script>
    
    



    





</body>
</html>